//META{"name":"WolFX","description":"A clean version of the Discord UI","author":"Wolfe and Velorexe","version":"Pre-Alpha"}*//{}

:root {
    -transparent: rgba(0,0,0,0);
    
    -light-red: #f23638;
    -dark-red: #910f11;
    
    -dark-grey: rgba(32, 34, 37, 0.9);
}

/*Setting up Images*/
.app {
  background-image : url(https://i.imgur.com/gY5dyR9.png);
  background-size : cover;
}

/*Background - Server Wraper*/
.theme-dark .guildsWrapper-5TJh6A{
    background-color : transparent;
}

/*Background - Server Channels*/
.container-PNkimc{
    background-color : transparent;
}
.channels-Ie2l6A {
    background-color: transparent;
}

/*Background - Messages*/
.theme-dark .chat-3bRxxu{
    background-color : transparent;
}

.theme-dark .content-yTz4x3{
    background-color : transparent;
}

.theme-dark .messagesWrapper-3lZDfY{
    background-color : transparent;
}

.theme-dark .chat-3bRxxu form{
    background-color : transparent;
}

.theme-dark .typing-2GQL18{
    background-color : transparent;
}

.theme-dark .inner-zqa7da{
    background-color : var(--dark-grey);
}

/*Background - Server Members*/
.theme-dark .members-1998pB{
    background-color : transparent;
}

/*Background - Server Title*/
.theme-dark .title-3qD0b-{
    background-color : transparent;
}

/*Background - Scrollbar*/
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece{
    background-color : transparent;
}
