//META{"name":"WolFX","description":"A clean version of the Discord UI","author":"Wolfe and Velorexe","version":"Pre-Alpha"}*//{}

:root {
    -transparent: rgba(0,0,0,0);
    
    -lightred: #f23638;
    -darkred: #910f11;
    
    -darkgrey: rgba(32, 34, 37, 0.9);
}

/*Setting up Images*/
.app {
  background-image : url(https://i.imgur.com/mDkqdnG.png);
  background-size : cover;
}

.appMount-3VJmYg{
    background-image : url(https://i.imgur.com/XtvcZb7.png);
}

/*Background - App*/
.appMount-3VJmYg{
    background-color : transparent;
}

.theme-dark .layers-3iHuyZ{
    background : transparent;
}

.theme-dark .layer-3QrUeG{
    background : transparent;
}

.container-2lgZY8{
    background-color : transparent;
}

/*Background - Server Wraper*/
.theme-dark .guildsWrapper-5TJh6A{
    background-color : transparent;
}

/*Background - Server Channels*/
.container-PNkimc{
    background-color : transparent;
}
.channels-Ie2l6A {
    background-color: transparent;
}

/*Background - Messages*/
.theme-dark .chat-3bRxxu{
    background-color : transparent;
}

.theme-dark .content-yTz4x3{
    background-color : transparent;
}

.theme-dark .messagesWrapper-3lZDfY{
    background-color : transparent;
}

.theme-dark .chat-3bRxxu form{
    background-color : transparent;
}

.theme-dark .typing-2GQL18{
    background-color : transparent;
}

.theme-dark .inner-zqa7da{
    background-color : rgba(32, 34, 37, 0.9);
}

/*Background - Server Members*/
.theme-dark .members-1998pB{
    background-color : transparent;
}

/*Background - Server Title*/
.theme-dark .title-3qD0b-{
    background-color : transparent;
}

/*Background - Scrollbar*/
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece{
    background-color : transparent;
}

/*Animations*/
.avatarSpeaking-1wJCNq{
    transition: all 0.1s linear;
}

.nameDefault-2s3kbY{
    transition: all 0.1s linear;
}

/*Avatars*/
.avatarSpeaking-1wJCNq{
    box-shadow : 0 0 0 2px #f23638, inset 0 0 0 1.5px;
}
